body{

	font-family: Arial, Helvatica Sans-serif;
	font-size: 15px;
	line-height: 1.5;
	background-color: #f4f4f4;
	padding: 0;
	margin: 0;

}

/* Global*/
.container{

	margin: auto;
	width: 80%;
	overflow: hidden;


}

/*Header*/
header{

	background-color: #35424a;
	padding-top: 30px;
	color: #ffffff;
	border-bottom:  #e8491d 5px solid;
	min-height: 70px;


}

header a{
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
 
}

header ul{
	padding: 0;
	margin:0;
}

header li{
	float: left;
	display: inline;
	padding: 0 20px 0 20px;


}

header #branding{
	margin: 0;
	float: left
}

header #branding h1{
	margin: 0;

}

header nav{
	float: right;
	margin-top: 10px

}

header .acme,header .current a{
	color: #e8491d;
	font-weight: bold;
}

header a:hover{
	color: #cccccc;
	
}
#showcase{
	min-height: 900px;
	background:url(../images/background.jpg) no-repeat -300px -750px;
}

#showcase h1{
	text-align: center;
	color: #fff;
	font-size: 70px;
	margin-top: 300px;
}
#showcase p{
	text-align: center;
	color: #fff;
	font-size: 30px;
}

#newsletter {
	padding: 10px;
	background-color: #35424a;
}
 #newsletter h1{
	font-size: 25px;
	display: inline;
	color: #ffffff;
	float: left;
 }
 #newsletter form{
	 float: right;
	 margin-top: 16px;
	 
 }
 #newsletter input[type='email']{
	 height: 40px;
	 width: 300px;
	 padding-left: 20px;
	 font-size: 14px;
	 
 }
#newsletter button{
	height: 44px;
	width:100px;
	background-color: #e8491d;
	border: none;
	font-size: 14px;
	color: #ffffff;
	font-weight: bold;
}
#boxes{
	margin-top: 100px;
	margin-bottom: 100px;
}
.htmlbox{
	float: left;
	width: 20%;
	text-align: center;
	padding: 0 100px 0 100px;
	margin: auto;
	

}

#boxes .htmlbox img{
	width: 100px;
}
footer{
	background-color: #e8491d ;
	text-align: center;
	color: #ffffff;
	padding: 20px;
	font-size: 16px;
	
}


article {
	font-size: 18px;
	margin-top: 20px;
	float: left;
	width: 62%;
}
.para-top{
	padding-left: 20px
}
aside#side-bar{
	float: right;
	background-color: #35424a;
	padding: 30px;
	padding-top: 0;
	width: 30%;
	margin-top: 30px;
	color: #ffffff;
	font-size: 18px;
	border-radius: 10px;
}
.rectline{
	height: 5px;
	width: 96px;
	background-color: #35424a;
	border-radius: 5px;
	margin-top: 0;
	padding-top: 0px;
	margin-left: 20px;
}
.page-title{
	margin-bottom: 10px;
	padding-bottom: 0;
	padding-left: 20px;
}
.para-bottom{
	background-color:#35424a;
	color: #fff;
	padding: 20px; 
}
.st-rect{
	background-color: #cccccc;
	padding: 20px;
	margin: 20px;

}
.final-button{

		height: 44px;
		width:100px;
		background-color: #e8491d;
		border: none;
		font-size: 14px;
		color: #ffffff;
		font-weight: bold;
	}